//Variables
@parallax1: "boquet.jpg";
@parallax2: "boquet.jpg";
@parallax3: "boquet.jpg";


//Mixins


body, html {
    height: 100%;
}

.parallax {
    height: calc(~"100vh - 75px");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
}

.parallax-fluid {
    height: auto;
    clear:both;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.relative {
    position: relative;
}

/* @media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
} */

.parallax-padding {
    height: 100%;
    width: 100%;
    padding: 0 15px 15px 15px;
}

.scroll-sm {
    height: 400px;
    width: 100%;
    padding: 15px;
    clear: both;
}

.scroll-md {
    height: 700px;
    width: 100%;
    clear: both;
}

.scroll-lg {
    height: 100vh;
    width: 100%;
    padding: 15px;
    clear: both;
}

.scroll-fluid {
    height: auto;
    width: 100%;
    padding: 15px;
    clear: both;
}