/*----- anchors -----*/
body {
  font-family: arial, sans-serif;
}
.bg-light-gray {
  background-color: #f1f1f1;
}
.bg-gray {
  background-color: #272727;
}
.bg-cream-lighter {
  background-color: #ffffff;
}
.bg-cream-light {
  background-color: #fffffb;
}
.bg-cream {
  background-color: #fffef1;
}
.bg-cream-dark {
  background-color: #d9d7bf;
}
.bg-cream-darker {
  background-color: #b8b58f;
}
.bg-white {
  background-color: #ffffff;
}
/*----- anchors -----*/
a.anchor {
  display: block;
  position: relative;
  top: -75px;
}
/*----- map -----*/
#map {
  height: 400px;
}
/*----- custom bootstrap -----*/
a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}
a:focus,
a:active {
  outline: none !important;
}
/*----- modal -----*/
/*----- rsvp modal -----*/
.modal-content {
  background-color: #fffef1;
}
.modal .btn-group:focus,
.btn-group:active,
.modal .btn:focus,
.btn:active {
  outline: none !important;
}
/*----- modal-header -----*/
.modal-header > h1 {
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-size: 5em;
  text-shadow: 2px 2px 2px #d9d7bf;
}
/*----- form fields -----*/
.modal .form-control {
  background-color: #fffffb;
}
.modal input {
  width: 60%;
  margin: auto;
}
.modal .btn-default {
  background-image: none !important;
  background-color: #fffffb;
}
/*----- gallery -----*/
#links {
  margin: 0 auto;
  /*may want to use this for all scroll divs instead of just #links*/

  text-align: center;
}
/*----- gallery thumbnails -----*/
.thumb {
  width: 110px;
  height: 110px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #fff;
  display: inline-block;
}
.thumb {
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -ms-transition: -ms-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.thumb.cw:hover,
.thumb.cw > a:hover {
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
}
.thumb.ccw:hover,
.thumb.ccw > a:hover {
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
/*----- registries -----*/
.amazon {
  background-image: url(../images/registry/amazon.svg);
  background-repeat-x: no-repeat;
  background-position: center;
  height: 50px;
}
.bed-bath-beyond {
  background-image: url(../images/registry/bed-bath-beyond.svg);
  background-repeat-x: no-repeat;
  background-position: center;
  height: 50px;
}
.belk {
  background-image: url(../images/registry/belk.svg);
  background-repeat-x: no-repeat;
  background-position: center;
  height: 50px;
}
.target {
  background-image: url(../images/registry/target.svg);
  background-repeat-x: no-repeat;
  background-position: center;
  height: 50px;
}
.amazon,
.bed-bath-beyond,
.belk,
.target {
  margin: 0px;
}
