//Variables

@gray: #272727;
@light-gray: #f1f1f1;
@cream: #fffef1;
@white: #000;

//Mixins


body {
  font-family: arial, sans-serif;
}

.bg-gray {
  background-color: @gray;
}

.bg-light-gray {
  background-color: @light-gray;
}

.bg-cream {
  background-color: @cream;
}

.bg-white {
  background-color: @white;
}

/*----- anchors -----*/
a.anchor {
  display: block;
  position: relative;
  top: -75px;
}

/*----- map -----*/
#map {
  height: 400px;
}