/*----- anchors -----*/
body {
  font-family: 'Alegreya', serif;
}
.bg-cream-lighter {
  background-color: #ffffff;
}
.bg-cream-light {
  background-color: #fffffb;
}
.bg-cream {
  background-color: #fffef1;
}
.bg-cream-dark {
  background-color: #d9d7bf;
}
.bg-cream-darker {
  background-color: #b8b58f;
}
.bg-boquet {
  background-image: url("../images/boquet1.jpg");
}
.bg-boquet2 {
  background-image: url("../images/boquet2.jpg");
}
.bg-artsy1 {
  background-image: url("../images/artsy1.jpg");
}
.bg-artsy2 {
  background-image: url("../images/gallery/photos/43.jpg");
}
.bg-ring {
  background-image: url("../images/gallery/photos/43.jpg");
}
.bg-wood {
  background-image: url("../images/wood.jpg");
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-arbor {
  background-image: url("../images/weddingArbor.jpg");
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position: center;
  background-size: cover;
}
/*----- anchors -----*/
a.anchor {
  display: block;
  position: relative;
  top: -75px;
}
/*----- map -----*/
#map {
  height: 400px;
}
/*----- custom bootstrap -----*/
a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}
a:focus,
a:active {
  outline: none !important;
}
.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  max-height: none !important;
}
/*----- modal -----*/
/*----- rsvp modal -----*/
.modal-content {
  background-color: #fffef1;
}
.modal .btn-group:focus,
.btn-group:active,
.modal .btn:focus,
.btn:active {
  outline: none !important;
}
/*----- modal-header -----*/
.modal-header > h1 {
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-size: 5em;
  text-shadow: 2px 2px 2px #d9d7bf;
}
/*----- form fields -----*/
.modal .form-control {
  background-color: #fffffb;
}
.modal input {
  width: 60%;
  margin: auto;
}
.modal .btn-default {
  background-image: none !important;
  background-color: #fffffb;
}
/*----- ceremony -----*/
#ceremonyDetailsContainer {
  margin: 0 auto;
  /*this is what centers the div*/

  margin-bottom: 30px;
  padding: 5px;
  background-color: #fffef1;
  display: table;
}
#ceremonyDetailsContainer .details-header {
  font-family: 'Zeyada', cursive;
  text-align: center;
  font-size: 2.3em;
  margin-bottom: -5px;
}
#ceremonyDetailsContainer p {
  font-family: 'Alegreya', serif;
  text-align: center;
  font-size: 1.35em;
}
.ceremony-details {
  padding: 10px;
  width: 200px;
  height: 200px;
  display: inline-block;
  background-color: #ffffff;
  vertical-align: top;
  margin: 5px;
}
#detailsLocation {
  background-image: url(../images/shg_logo_colored.svg);
}
#detailsTime {
  background-image: url(../images/clock530_colored.svg);
}
#detailsAttire {
  background-image: url(../images/shirt_colored.svg);
}
.details {
  height: 75px;
  width: 75px;
  /* width: ~"calc(100% - 58px)"; with side-panel borders*/

  margin: 0;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: top;
}
.leavesContainer {
  width: 100%;
  height: 120px;
  padding: 20px 10%;
}
.leaves {
  height: 100%;
  width: 100%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
}
.leavesTop {
  background-image: url(../images/leaves.svg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.leavesBottom {
  background-image: url(../images/leaves.svg);
}
@media screen and (max-width: 1024px) {
  #leavesContainer {
    padding: 0 0;
  }
}
.detailsBreak {
  display: none;
  height: 10px;
}
@media screen and (max-width: 767px) {
  .detailsBreak {
    display: block;
  }
  .ceremony-details {
    width: 250px;
    height: 250px;
  }
  .details {
    height: 120px;
    width: 120px;
  }
  #ceremonyDetailsContainer .details-header {
    font-size: 2.5em;
  }
  #ceremonyDetailsContainer p {
    font-size: 1.55em;
  }
}
.m-top-10 {
  margin-top: 10px;
}
.m-bot-10 {
  margin-bottom: 10px;
}
/*----- story -----*/
#storyBg {
  width: 100%;
  min-height: calc(100vh - 75px);
  background: url("../images/story_overlay.png") no-repeat;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-size: 100%;
  padding: 30px;
}
#circle-shape-example p {
  line-height: 1.5em;
  font-size: 1.5em;
  text-shadow: 0px 0px 4px #fffef1;
}
#circle-shape-example .curve {
  width: 25%;
  height: auto;
  min-width: 150px;
  float: right;
  margin: 16%;
  border-radius: 50%;
  -webkit-shape-outside: circle();
  shape-outside: circle();
}
@media screen and (max-width: 425px) {
  #storyBg {
    background: url("../images/story_fade2.png");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: 100%;
  }
  #circle-shape-example p {
    line-height: 1.2em;
    font-size: 1.2em;
    text-shadow: 0px 0px 4px #fffef1;
  }
  #circle-shape-example .curve {
    width: 90%;
    height: auto;
    min-width: 150px;
    float: none;
    margin: 0;
    border-radius: 50%;
    -webkit-shape-outside: circle();
    shape-outside: circle();
  }
}
/*----- gallery -----*/
#links {
  margin: 0 auto;
  /*may want to use this for all scroll divs instead of just #links*/

  text-align: center;
}
/*----- gallery thumbnails -----*/
.thumb {
  width: 110px;
  height: 110px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #fff;
  display: inline-block;
}
.thumb {
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -ms-transition: -ms-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.thumb.cw:hover,
.thumb.cw > a:hover {
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
}
.thumb.ccw:hover,
.thumb.ccw > a:hover {
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.thumb img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .thumb {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 375px) {
  .thumb {
    width: 70px;
    height: 70px;
  }
}
/*----- wedding party -----*/
.water-color-paper {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url(../images/watercolortile.png);
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  padding: 50px;
}
.wed-party-border {
  height: 100%;
  border-style: solid;
  border-width: 30px;
  -moz-border-image: url(../images/border2.png) 30 repeat;
  -webkit-border-image: url(../images/border2.png) 30 repeat;
  -o-border-image: url(../images/border2.png) 30 repeat;
  border-image: url(../images/border2.png) 30 fill repeat;
  padding: 15px;
}
#weddingParty {
  text-align: center;
  font-family: 'Alegreya', serif;
}
.wed-party-main-header {
  font-size: 4.5em;
  font-weight: 500;
  font-family: 'Tangerine', cursive;
}
.wed-group-header {
  font-size: 3.2em;
  font-weight: 500;
  font-family: 'Tangerine', cursive;
}
.wed-party-member {
  font-size: 1.4em;
}
.wed-col-break {
  display: none;
  height: 20px;
}
@media screen and (max-width: 767px) {
  .wed-col-break {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .water-color-paper {
    padding: 30px;
  }
}
@media screen and (max-width: 768px) {
  .wed-party-main-header {
    font-size: 3.5em;
  }
  .wed-group-header {
    font-size: 2.2em;
  }
  .wed-party-member {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 425px) {
  .wed-party-main-header {
    font-size: 3em;
  }
}
/*----- registries -----*/
#bedBathBeyond {
  background-image: url(../images/registry/bed-bath-beyond.svg);
}
#belk {
  background-image: url(../images/registry/belk.svg);
}
#target {
  background-image: url(../images/registry/target.svg);
}
.registry {
  height: 100%;
  width: calc(100% - 38px);
  /* width: ~"calc(100% - 58px)"; with side-panel borders*/

  margin: 0;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
}
.side-padding {
  height: 100%;
  width: 15px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  /* border: 1px solid #f0f; */

}
.scaler {
  width: auto;
  position: relative;
  height: 0;
  padding-bottom: 40%;
  min-height: 50px;
}
.top-card {
  background-color: #b8b58f;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bot-card {
  background-color: #d9d7bf;
  padding: 15px;
  min-width: 200px;
  min-height: 50px;
  margin: 10px 25px;
}
#knotMessage {
  text-align: center;
  font-size: 1.5em;
  color: #d9d7bf;
  font-family: 'Alegreya', serif;
  display: inline-block;
  width: 100%;
}
#theknot {
  background-image: url(../images/theknot.svg);
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position: center;
  height: 1.5em;
  width: 100px;
  display: inline-block;
  vertical-align: baseline;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  #theknot {
    margin-left: -10px;
  }
  #knotMessage {
    font-size: 1.2em;
  }
}
/*----- copyright -----*/
#copyright {
  width: 100%;
  text-align: center;
  font-size: .9em;
  color: #d9d7bf;
  margin: 40px 0px 10px 0px;
  font-family: 'Alegreya', serif;
}
#copyright p {
  margin: 0;
}
.copyright-part {
  display: inline-block;
}
/*----- additional styling -----*/
.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.overlay {
  width: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.oly-fluid {
  height: 100%;
}
.oly-static {
  height: inherit;
}
.oly-black {
  background-color: rgba(0, 0, 0, 0.5);
}
.oly-cream {
  background-color: rgba(255, 254, 241, 0.6);
}
.narrow {
  width: 100%;
  height: inherit;
  padding-left: 10%;
  padding-right: 10%;
}
